/* books section */
.books_section {
  padding: 50px 0px;
}
/* heading css*/
.books_section_heading {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.section_title {
  flex: 1 1 100%;
  margin-bottom: 10px;
}
.section_title h1 {
  font-size: 26px;
  line-height: 36px;
}
.search_box_wrapper,
.filter {
  flex: 1 1 50%;
}
.filter {
  padding-left: 8px;
}
.search_box_wrapper {
  padding-right: 8px;
}
/*  *** book list css *** */
.book_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.book_card {
  padding: 16px;
  border-radius: 12px;
  background-color: var(--card_bg_color);
  border: 1px solid var(--card_border_color);
  position: relative;
}
.book_image {
}
.book_image img {
  width: 100%;
  height: 250px;
  object-fit: scale-down;
}
.book_info {
  margin-top: 20px;
}
.book_info h3 a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 650;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.book_info p {
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.wishlist {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  background-color: transparent;
  border: none;
}
.wishlist img {
  width: 18px;
}

@media (min-width: 500px) {
  /* book list css */
  .book_list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .book_image img {
    height: 180px;
  }
}

@media (min-width: 768px) {
  /* heading css*/
  .books_section_heading {
    margin-bottom: 40px;
  }
  .section_title {
    flex: 1 1 25%;
    margin-bottom: 0px;
  }
  .search_box_wrapper,
  .filter {
    flex: 1 1 25%;
  }

  /* book list css */
  .book_list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 35px;
  }
  .book_info h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) {
  /* heading css*/
  .section_title {
    flex: 1 1 50%;
  }
  .book_image img {
    height: 200px;
  }
}
